html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

#hide-listings,
#show-listings {
  width: 48%;
}

#map {
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}

.options-box {
  border-radius: 3px;
  line-height: 35px;
  padding: 10px;
  text-align: left;
}

#pano {
  width: 200px;
  height: 200px;
}

.text {
  font-size: 12px;
}

/* JS */

img {
  height: auto;
  width: 30%;
}

#menu {
  background-color: red;
  position: absolute;
  top: 10px;
  left: 12%;
  opacity: 0.5;
  margin-left: -104.5px; /*104.5px is half of the button's width*/
}

/* Nav */
nav {
  /*height: 80%;*/
}

ul button {
  display: block;
  margin: 5px;
}

#schoolList {
  margin: 10px;
}

.main {
  margin: 10px;
}
